<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
  <templatelist xsltname="ThuVienAnh.xslt" name="Danh sách ảnh"></templatelist>
  <templatelist xsltname="ThuVienVideo.xslt" name="Danh sách video"></templatelist>

  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>

  <position>
    <add name="Giới thiệu trang chủ" value="1" resourcefile="" />
	<add name="Bảo trì trang chủ" value="2" resourcefile="" />
	<add name="Thời gian bảo trì trang chủ" value="4" resourcefile="" />
	<add name="Tại sao chọn trang chủ" value="8" resourcefile="" />
	<add name="Thư viện trang chủ" value="16" resourcefile="" />
	<add name="Đối tác trang chủ" value="32" resourcefile="" />
	<add name="Đánh giá trang chủ" value="64" resourcefile="" />
	<add name="Tin tức trang chủ" value="128" resourcefile="" />
  </position>
</templates>
