footer
    #backToTop
    #phone
        a(tel+="123456")
    #zalo
        a(tel+="123456")
    .container
        .footer-top
            .img
                img(src="./img/lg.png", alt="").lazyloaded
        .row
            .col-lg-4.col-md-6.col-sm-12
                h3.title Công Ty TNHH Công Nghệ Kỳ Anh
                ol
                    li
                        em.ri-map-pin-line
                        span 1C Sương Nguyệt Ánh, Phường Bến Thành, Quận 1, TP. HCM.
                    li
                        em.ri-pencil-line
                        span.gray Mã số thuế: 0316549639
                    li
                        em.ri-phone-line
                        span Hotline:  
                        span.blue 0946 60 85 85
            .col-lg-3.col-md-6.col-7
                h3.title Dịch vụ & Sản phẩm
                ol
                    li
                        a(href="") Trung tâm sửa chữa - Bảo trì
                    li
                        a(href="") Thiết bị thẩm mỹ
                    li
                        a(href="") Mỹ phẩm
            .col-lg-2.col-md-6.col-5
                h3.title Liên kết nhanh
                ol
                    li
                        a(href="") Giới thiệu
                    li
                        a(href="") Thư viện
                    li
                        a(href="") Tin tức
                    li
                        a(href="") Liên hệ
    .footer-bottom
        .container
            .wraptext
                .coppyright Copyright © 2020 Kỳ Anh.
                    a(href="") Thiết kế website bởi Cánh Cam.
                .services
                    a(href="" target="_blank") Điều khoản sử dụng 
                    a(href="" target="_blank") Chính sách bảo mật
                    a(href="" target="_blank") Sơ đồ trang web

