<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <add name="Thiết bị trang chủ" value="1" resourcefile="" />
	<add name="Mỹ phẩm trang chủ" value="2" resourcefile="" />
	<add name="Thiết bị bán chạy trang chủ" value="4" resourcefile="" />
  </position>

  <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ThietBiList.xslt" name="Danh sách thiết bị" />

  <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />
  <templatedetail xsltname="ThietBiDetail.xslt" name="Chi tiết thiết bị" />
</templates>
